{% extends "base.html" %}

{% block title %}Server Error - Dev Forum{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="mt-5 mb-5">
            <h1 class="display-1">500</h1>
            <h2>Internal Server Error</h2>
            <p class="lead">Something went wrong on our end. We're working to fix the issue.</p>
            <div class="mt-4">
                <a href="{{ url_for('index') }}" class="btn btn-primary">
                    <i class="bi bi-house"></i> Go to Home Page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}